<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootdemo.mybatis.mapper.HappinessMapper">
<select id="findHappinessByCityXml" resultType="com.example.springbootdemo.mybatis.domain.Happiness">
    select * from happiness where city=#{city}
</select>
</mapper>